.header {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: calc(100%);
  padding: 1rem;
  border-radius: 10px;
}

.header input {
  padding: 0.5rem 1rem;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  width: 250px;
}

.input-search {
  position: relative;
}

.input-search span {
  position: absolute;
  right: 2px;
  top: 0.1px;
  cursor: pointer;
}
